@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Text:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    --dark: 23, 21, 21;
    --white: 255, 255, 255;
    --blue: 15, 82, 186;
    --green: 138, 162, 160;
    --dark-green: 81, 119, 124;
}

[color-scheme="dark"] {
    color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}

body.dark {
    --dark: 250, 250, 250;
    --white: 36, 41, 45;
    --blue: 208, 253, 253;
    --green: 165, 199, 200;
    --dark-green: 229, 255, 236;

    background-color: rgba(var(--white), 0.9);
}

body.bg-gradient.dark {
    background-image: linear-gradient(45deg,
            hsl(210deg 7% 22%) 0%,
            hsl(207deg 11% 20%) 20%,
            hsl(210deg 11% 18%) 38%,
            hsl(206deg 11% 12%) 59%,
            hsl(0deg 0% 0%) 99%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Wix Madefor Text', sans-serif;
    color: rgb(var(--dark));
    scroll-behavior: smooth;
}

::-moz-selection {
    color: rgb(var(--white));
    background: rgb(var(--green));
}

::selection {
    color: rgb(var(--white));
    background: rgb(var(--green));
    ;
}

ul {
    margin-left: 1em;
}

ul li {
    padding: 0.5em;
}

p,
li {
    line-height: 1.5;
}

a:link,
a:visited {
    text-decoration: none;
    color: rgb(var(--dark));
}

.back-to-top {
    fill: rgb(var(--dark-green));
    bottom: 1em;
    right: 1em;
}

.back-to-top:hover {
    fill: rgb(var(--green));
}

.f-title {
    font-family: 'Vollkorn', serif;
    font-weight: bold;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1em;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100vh;
    height: 100svh;
}

.h-95 {
    height: 95vh;
}

.al-center {
    align-items: center;
}

.jt-center {
    justify-content: center;
}

.bg-gradient {
    background-image: linear-gradient(55deg,
            hsl(95deg 73% 94%) 0%,
            hsl(113deg 76% 93%) 1%,
            hsl(130deg 79% 93%) 5%,
            hsl(146deg 85% 92%) 12%,
            hsl(163deg 87% 91%) 23%,
            hsl(180deg 92% 90%) 36%,
            hsl(180deg 90% 92%) 50%,
            hsl(180deg 93% 94%) 64%,
            hsl(180deg 90% 96%) 78%,
            hsl(180deg 100% 98%) 90%,
            hsl(0deg 0% 100%) 100%);
    background-size: 500%;
    animation: bg-animation 5s infinite alternate;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(var(--white), 0.5);
    backdrop-filter: blur(2px);
    z-index: 2;
}

.lan-themes-container {
    text-align: end;
    z-index: 3;
    top: 1em;
    right: 1em;
    gap: 1em;
    align-items: center;
}

.change-lan {
    gap: 0.5em;
    align-items: center;
}

svg.lans {
    width: 2.4em;
    height: fit-content;
}

.jp-lan {
    border: 1px solid rgb(var(--dark-green));
}

svg {
    cursor: pointer;
}

.grid-container {
    grid-template-columns: 1fr auto;
    align-items: center;
}

.links-container {
    height: 100%;
    gap: 2em;
    writing-mode: sideways-rl;
    rotate: 180deg;
    width: fit-content;
    flex-direction: row-reverse;
    left: 10px;
    z-index: 1;
}

.active {
    font-weight: bold;
}

.links {
    position: relative;
}

.links:hover {
    font-weight: bold;
}

svg {
    fill: rgb(var(--dark));
}

.name-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.name {
    font-size: 3.5rem;
}

.career {
    left: 60%;
    bottom: -3em;
}

.icon_down-arrow {
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    fill: rgb(var(--dark-green));
}

.spacing-container {
    margin: 5em 2em;
    /* padding-block: 6em; */
}

.about-me_wrapper {
    flex-direction: column;
    gap: 2em;
}

.about-me_contents>p {
    margin-bottom: 1em;
}

a.resume-link {
    color: rgb(var(--green));
    text-decoration: underline dotted;
}

a.resume-link:hover {
    color: rgb(var(--dark-green));
}

/* proj */
.proj-container {
    top: 2em;
    gap: 3em;
    flex-direction: column;
    text-align: center;
}

.proj-container div p {
    padding-bottom: 0.5em;
}

.fidelity-frames {
    border: 0;
    width: 80vw;
    aspect-ratio: 1/1.8;
}

.sitemap {
    padding-bottom: 2em;
}

.sitemap img {
    width: 80vw;
}

.sitemap-open {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    min-width: 200vw;
    filter: drop-shadow(0 0 500px rgb(var(--dark)));
    box-shadow: 0 0 500px rgb(var(--dark));
}

/* blogs page */
.radio-wrapper {
    flex-wrap: wrap;
    gap: 0.5em;
    row-gap: 1em;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    background-color: rgb(var(--dark-green));
    color: rgb(var(--white));
    font-weight: bold;
}

.radio-containers:hover>label.btn-style {
    background-color: rgb(var(--dark-green));
    border: 1px solid rgb(var(--dark-green));
    color: rgb(var(--white));
    font-weight: bold;
}

.blog-content {
    margin: 2em 0 1em;
}

.date {
    color: rgb(var(--green));
    font-size: 0.9rem;
}

.blog-content>p.f-title a:hover,
.txt-underline {
    text-decoration: underline dotted rgb(var(--dark-green));
}

.blog-content>p.f-title:hover~p.date {
    color: rgb(var(--dark-green));
}

/* resume page */
.resume_contact-wrapper {
    padding: 2em 0 4em;
}

.resume-contacts+.resume-contacts {
    padding-top: 1em;
}

span {
    color: rgb(var(--dark-green));
}

.about-me_title::before,
.session::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 5px;
    width: 10px;
    height: 10px;
    background: rgb(var(--green));
    border-radius: 50%;
    border: 1px solid;
}

.about-me_title::after,
.session::after {
    content: "";
    position: absolute;
    top: 110%;
    right: 0px;
    bottom: 50%;
    width: 90%;
    height: 1px;
    background: rgb(var(--dark));
}

.session {
    padding-top: 1em;
}

.resume_each-content {
    margin: 2em 0 4em;
}

.resume_each-content>p+p {
    padding-top: 1em;
}

.position {
    color: rgb(var(--green));
}

.company-duration {
    margin: 0.75em 0 1em;
}

.long-desc_col {
    flex-direction: column;
}

.skills-container,
.skills:last-child {
    padding-bottom: 1em;
}

.skills+.skills,
.skill-containers+.skill-containers {
    margin-top: 1.5em;
}

.skills-container,
.skill-containers>div {
    gap: 0.5em;
    flex-wrap: wrap;
    padding-top: 0.5em;
}

.company-duration>p {
    padding-top: 0.5em;
}

.btn-style,
.skill-containers>div>p {
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    background-color: rgba(var(--white), 0.4);
    border: 1px solid rgb(var(--dark-green));
    height: fit-content;
}

.dl-btn {
    padding: 1em;
    background: transparent;
    border: 1px solid;
    cursor: pointer;
    align-items: center;
}

.dl-btn>svg {
    margin-inline: 1em;
}

.dl-btn>p {
    padding-left: 1em;
}

.dl-btn:hover {
    animation: border 0.5s infinite linear;
    font-weight: bold;
}

.dl-btn:hover>svg {
    animation: svg-color-change 0.5s infinite linear;
}

.dl-btn:hover>p {
    color: rgb(var(--dark-green));
}

.dl-jp-container {
    margin-top: 1em;
}

@keyframes border {
    0% {
        border-color: rgb(var(--green));
    }

    100% {
        border-color: rgb(var(--dark-green));
    }
}

@keyframes svg-color-change {
    0% {
        fill: rgb(var(--green));
    }

    100% {
        fill: rgb(var(--dark-green));
    }
}

/* contact me page */
.phone-container {
    margin-bottom: 2em;
}

.contacts-ml {
    margin-left: 1em;
    max-width: 15ch;
    word-break: break-all;
}

.social-container {
    gap: 2em;
    padding-left: 1em;
}

.social-links:hover>svg {
    animation: icon-hover 0.5s infinite;
    scale: 1.2;
}

@keyframes icon-hover {
    0% {
        opacity: 0.6;
        fill: rgb(var(--dark-green));
    }

    100% {
        opacity: 1;
        fill: rgb(var(--blue));
    }
}

@media all and (max-width: 576px) {

    .dl-eng-container>button+button,
    .dl-jp-container>button+button {
        margin-top: 1em;
    }
}

@media all and (min-width: 400px) {

    .name {
        font-size: 4rem;
    }

    /* contact page */
    .contacts-ml {
        max-width: unset;
    }
}

@media all and (min-width: 576px) {
    .name {
        font-size: 5rem;
    }

    .career {
        bottom: -1em;
    }

    .links-container {
        left: unset;
    }

    .links:hover::after,
    .active::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translate(-50%, -5px);
        width: 10px;
        height: 10px;
        background: rgb(var(--green));
        border-radius: 50%;
        border: 1px solid;
    }

    .wrapper {
        padding-left: 3em;
    }

    .spacing-container {
        margin: 5em 2.5em;
    }

    /* resume page */
    .session::after {
        width: 97%;
    }

    .dl-eng-container,
    .dl-jp-container {
        display: flex;
        gap: 1em;
    }

    /* proj page */
    .fidelity-frames {
        height: 90vh;
    }

    /* blogs page */
    .blogs-wrapper::before {
        content: "";
        width: 1px;
        background: rgb(var(--dark));
        position: absolute;
        top: 1rem;
        bottom: 2rem;
        left: -2em;
    }

    .blog-content::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: rgb(var(--green));
        border: 1px solid;
        position: absolute;
        top: 0.5em;
        left: -2.28rem;
    }

    .blog-content:hover::before {
        background: rgb(var(--dark));
    }

    .blog-content>p.f-title a:hover {
        text-decoration: unset;
    }
}

@media all and (min-width: 768px) {
    .wrapper {
        padding: 6em;
        max-width: 1000px;
        width: 100%;
        margin-inline: auto;
    }

    .about-me_wrapper {
        flex-direction: row;
    }

    .about-me_title::before,
    .about-me_title::after {
        all: unset;
    }

    /* resume page */

    .company-duration {
        display: flex;
        justify-content: space-between;
    }

    .company-duration>p {
        padding: 0;
    }

    .long-desc_col {
        flex-direction: row;
    }

    .skill-containers {
        display: flex;
    }

    .skill-containers+.skill-containers {
        margin-top: 1em;
    }

    .skill-containers>p {
        min-width: 30%;
    }

    .skill-containers>div {
        padding-top: 0;
    }
}

@media all and (min-width: 992px) {
    .about-me_title {
        width: 20%;
    }
}

@media all and (min-width: 1200px) {

    /* resume page */
    .resume_contact-wrapper {
        columns: 2;
    }

    .resume-contacts:nth-child(3) {
        padding-top: 0;
    }
}